<div id="abouttext">

    <div id="about_text">
        <p>
        {% for post in site.categories.about %}
            {{ post.content }}
        {% endfor %}
        </p>

        <p class="mobileContact"><a href="https://www.instagram.com/anya__mind/">Instagram</a></p>
        <p class="mobileContact"><a href= "mailto:anya.l.pertel@gmail.com">Email</a></p>
       
        {% for post in site.categories.about %}
            <img src="{{ post.images }}" alt="">
        {% endfor %}
   
        <p id="credit">Website designed and built by <a href="https://bycalebstone.com/">Caleb Stone</a></p>
    </div>


</div>