<div id="abouttext">

    <div id="about_text">
        <p>
        {% for post in site.categories.about %}
            {{ post.content }}
        {% endfor %}
        </p>

        <p class="mobileContact">anya.l.pertel@gmail.com</p>
        <p class="mobileContact"><a href="https://www.instagram.com/anya__mind/">Instagram</a></p>
        <p class="mobileContact"><a href="/cv/index.html">CV</a></p>
   
        <p id="credit">Website designed and built by <a href="https://bycalebstone.com/">Caleb Stone</a></p>
    </div>


</div>