<div id="navigation">
    <div id="Title">
        <a href="/"><h1>Anya Lin Pertel</h1></a>
    </div>
    
    <div id="nav_links">
        <nav>
            <a id="work-nav" onclick="toggleWork()">work</a>
            
            <ul id="work-list" style="display: none;">
                {% for category in site.categories %}
                    <li>
                        <a href="#{{ category[0] }}">{{ category[0] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav id="pet_portraits"> <a href="#pet_portraits">pet portraits</a></nav>
        <nav><a href="/about/index.html">about</a></nav>
        <nav id="instagram"><a href="https://www.instagram.com/anya__mind/">instagram</a></nav>
        <nav id="cv"><a href="/cv/index.html">cv</a></nav>
        <nav id="email">anya.l.pertel@gmail.com</nav>
        
    </div>
</div>

<script>
    function toggleWork() {
        const workList = document.getElementById('work-list');
        const isHidden = workList.style.display === 'none';
        workList.style.display = isHidden ? 'block' : 'none';
    }
</script>
