---
permalink: /2025/
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/iwy1fvg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/nav.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
 
  
  <body>
    
      {% include navigation.html %}
      {% include worklist.html %}
     
  </body>
</html>